@model IEnumerable<CourseProject.Models.Template>
@{
    ViewData["Title"] = "My templates";
}

<h2>Мои шаблоны</h2>
<a asp-action="Create" class="btn btn-primary">Create template</a>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Public?</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var template in Model)
    {
        <tr>
            <td>@template.Title</td>
            <td>@template.Description</td>
            <td>@(template.IsPublic ? "Да" : "Нет")</td>
            <td>
                <a asp-action="Edit" asp-route-id="@template.Id" class="btn btn-warning btn-sm">Edit</a>
                <form asp-action="Delete" asp-route-id="@template.Id" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
